@media screen and (max-width: 768px){
  .especialidades-cards .card p{
    width: auto;
  }
  .qualidades-grid{
    grid-template-columns: auto auto;
  }
  .footer .container{
    flex-direction: column-reverse;
    gap: 20px;
  }
}

@media screen and (max-width: 600px){
  #especialidades .card{
    width: 100%;
  }

  
}